:root {
    --color-amarillo: #FFEC00;
    --color-rosa: #D05298;
    --color-navy: #0D0D49;
    --color-blanco: #f7f7f7;
}




* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: 'Aero';
    src: url('/tipo/AeroviasBrasilNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--color-navy);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/fondo_inicio-fin.png);
    background-size: contain;
    color: var(--color-blanco);
}

.logo img {
    width: 200px;
    height: auto;
}

.logo_principal{
    width: 100px;
    height: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
}


h1 {
    font-size: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    color: var(--color-amarillo);
}

section {
    padding: 30px;
    font-size: 25px;
}

header {
    background-color: #f7f7f713;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    height: 60px;
    font-size: 25px;
    backdrop-filter: blur(3px);
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 44px;
}

header nav a {
    text-decoration: none;
    color: var(--color-amarillo);
    font-weight: bold;
    word-spacing: -5px;
}

header nav a:hover {
    color: var(--color-rosa);
}

.video{
    width: 800px;
    height: auto;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-bottom: 60px;
}